.Stopwatch-container
{
    text-align: center;
    margin: 20px;
}

.Time
{
    font-size: 2em;
    margin: 20px;
}   

.controls button
{
   padding: 1px 20px;
   font-size: 1em;
   margin: 5px;
}   
